# Dependencies
node_modules/
*.log
yarn.lock
package-lock.json

# Build output
build/
dist/

# Environment files
.env
.env.*.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# React-specific
coverage/
*.map

# Temp files
tmp/
temp/
